{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>SQUADZONE</title>
    <script>
        function trocarImagem(imagem) {
            const imgElement = document.getElementById('minhaImagem');
            imgElement.src = imagem; // Troca a imagem com base no botão clicado
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</head>
<header class="navbar">
    {% include 'navbar.html' %}
</header>
<body>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    <div class="container">
        <div class="row">
            <div class="col-4">
                </br>
                </br>
                </br>
                <div class="col d-flex justify-content-around">
                    <p>
                        <button onclick="trocarImagem('{% static 'img/circulo/vava2.jpg' %}')"
                            class="btn rounded-circle custom-btn custom-btn-vava" data-toggle="collapse"
                            data-target="#collapseVava" aria-expanded="false" aria-controls="collapseVava">
                            <img src="https://img.icons8.com/?size=100&id=GSHWFnD9x56D&format=png&color=000000"
                                alt="Valorant" class="icon">
                        </button>
                    </p>
                    <p>
                        <button onclick="trocarImagem('{% static 'img/circulo/lol.jpg' %}')"
                            class="btn rounded-circle custom-btn custom-btn-lol" data-toggle="collapse"
                            data-target="#collapseLol" aria-expanded="false" aria-controls="collapseLol">
                            <img src="https://img.icons8.com/?size=100&id=101282&format=png&color=000000"
                                alt="League of Legends" class="icon">
                        </button>
                    </p>
                </div>
            </div>
            <div class="col-4 circle">
                <img id="minhaImagem" src="{% static 'img/circulo/padrao.jpg' %}" alt="Imagem do Círculo">
            </div>
            <div class="col-4">
                <br>
                <br>
                <br>
                <div class="col d-flex justify-content-around">
                    <p>
                        <button onclick="trocarImagem('{% static 'img/circulo/cs.jpg' %}')"
                            class="btn rounded-circle custom-btn custom-btn-cs" data-toggle="collapse"
                            data-target="#collapseCS" aria-expanded="false" aria-controls="collapseCS">
                            <img src="https://img.icons8.com/?size=100&id=jzahITKncvRL&format=png&color=000000"
                                alt="CS:GO" class="icon">
                        </button>
                    </p>
                    <p>
                        <button onclick="trocarImagem('{% static 'img/circulo/fortnite.jpg' %}')"
                            class="btn rounded-circle custom-btn custom-btn-fort" data-toggle="collapse"
                            data-target="#collapseFortnite" aria-expanded="false" aria-controls="collapseFortnite">
                            <img src="https://img.icons8.com/?size=100&id=O0TwjsZIu4Ua&format=png&color=000000"
                                alt="Fortnite" class="icon">
                        </button>
                    </p>
                </div>
        </div>
    </div>
    </br>
    </br>
    </br>
    </br>
    </br>
    <div class="container">
        <div class="collapse" id="collapseVava">
            <div class="card card-body">
                <h3>VALORANT</h3>
                <a>Suba com seus aliados e alcance o topo da elite, consiga o rank
                    mais elevado e domine os inimigos</a>
                </br>
                <div class="col d-flex justify-content-around">
                    <img src="{% static 'img/vava/r1.png' %}" alt="CS" class="icon">
                    <img src="{% static 'img/vava/r2.png' %}" alt="CS" class="icon">
                    <img src="{% static 'img/vava/r3.png' %}" alt="CS" class="icon">
                    <img src="{% static 'img/vava/r4.png' %}" alt="CS" class="icon">
                    <img src="{% static 'img/vava/r5.png' %}" alt="CS" class="icon">
                    <img src="{% static 'img/vava/r6.png' %}" alt="CS" class="icon">
                    <img src="{% static 'img/vava/r7.png' %}" alt="CS" class="icon">
                    <img src="{% static 'img/vava/r8.png' %}" alt="CS" class="icon">
                </div>
                </br>
                </br>
                </br>
                </br>
            </div>
        </div>
        </br>
        </br>
        </br>
    </div>
    <div class="container">
        <div class="collapse" id="collapseLol">
            <div class="card card-body">
                <h3>League of Legends</h3>
                <a>Suba com seus aliados e alcance o topo da elite, consiga o rank
                    mais elevado e domine os inimigos</a>
                </br>
                <div class="col d-flex justify-content-around">
                    <img src="{% static 'img/lol/r1.png' %}" alt="CS" class="icon">
                    <img src="{% static 'img/lol/r2.png' %}" alt="CS" class="icon">
                    <img src="{% static 'img/lol/r3.png' %}" alt="CS" class="icon">
                    <img src="{% static 'img/lol/r4.png' %}" alt="CS" class="icon">
                    <img src="{% static 'img/lol/r5.png' %}" alt="CS" class="icon">
                    <img src="{% static 'img/lol/r6.png' %}" alt="CS" class="icon">
                    <img src="{% static 'img/lol/r7.png' %}" alt="CS" class="icon">
                    <img src="{% static 'img/lol/r8.png' %}" alt="CS" class="icon">
                    <img src="{% static 'img/lol/r9.png' %}" alt="CS" class="icon">
                </div>
                </br>
                </br>
                </br>
                </br>
            </div>
        </div>
        </br>
        </br>
        </br>
    </div>
    <div class="container">
        <div class="collapse" id="collapseCS">
            <div class="card card-body">
                <h3>COUNTER STRIKE</h3>
                <a>Suba com seus aliados e alcance o topo da elite, consiga o rank
                    mais elevado e domine os inimigos</a>
                </br>
                <div class="col d-flex justify-content-around">
                    <img src="{% static 'img/cs/r1.png' %}" alt="CS" class="icon">
                    <img src="{% static 'img/cs/r2.png' %}" alt="CS" class="icon">
                    <img src="{% static 'img/cs/r3.png' %}" alt="CS" class="icon">
                    <img src="{% static 'img/cs/r4.png' %}" alt="CS" class="icon">
                    <img src="{% static 'img/cs/r5.png' %}" alt="CS" class="icon">
                    <img src="{% static 'img/cs/r6.png' %}" alt="CS" class="icon">
                    <img src="{% static 'img/cs/r7.png' %}" alt="CS" class="icon">
                </div>
                </br>
                </br>
                </br>
                </br>
            </div>
        </div>
        </br>
        </br>
        </br>
    </div>
    <div class="container">
        <div class="collapse" id="collapseFortnite">
            <div class="card card-body">
                <h3>FORTNITE</h3>
                <a>Suba com seus aliados e alcance o topo da elite, consiga o rank
                    mais elevado e domine os inimigos</a>
                </br>
                <div class="col d-flex justify-content-around">
                    <img src="{% static 'img/fortnite/r1.png' %}" alt="CS" class="icon">
                    <img src="{% static 'img/fortnite/r2.png' %}" alt="CS" class="icon">
                    <img src="{% static 'img/fortnite/r3.png' %}" alt="CS" class="icon">
                    <img src="{% static 'img/fortnite/r4.png' %}" alt="CS" class="icon">
                    <img src="{% static 'img/fortnite/r5.png' %}" alt="CS" class="icon">
                    <img src="{% static 'img/fortnite/r6.png' %}" alt="CS" class="icon">
                    <img src="{% static 'img/fortnite/r7.png' %}" alt="CS" class="icon">
                    <img src="{% static 'img/fortnite/r8.png' %}" alt="CS" class="icon">
                </div>
                </br>
                </br>
                </br>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-around">
            <h2>ENCONTRE SEUS ALIADOS</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-2">
            <a href="{% url 'login' %}" class="btn btn-success btn-lg btn-block">LOGIN</a>
        </div>
        <div class="col-2">
            <a href="{% url 'CriarUsuario' %}" class="btn btn-warning btn-lg btn-block">CRIAR CONTA</a>
        </div>
    </div>
</body>