<h2>Solicitações de Amizade Pendentes</h2>

{% if solicitacoes %}
    <ul>
        {% for solicitacao in solicitacoes %}
            <li>
                {{ solicitacao.usuario.username }} enviou uma solicitação de amizade.
                <a href="{% url 'aceitar_amizade' solicitacao.usuario.id %}">Aceitar</a> |
                <a href="{% url 'recusar_amizade' solicitacao.usuario.id %}">Recusar</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Não há solicitações de amizade pendentes.</p>
{% endif %}