.forum{
    margin-top: 10px;
    height: 100%;
    background-color:rgb(97, 87, 87);
    color: #313131;
    justify-content: center;
    align-items: center;
    display: flex; flex-direction: column; min-height: 100vh;
    
}

.postagem{
    margin-top: 10px;
    border: 4px solid #313131;
    border-radius: 10px;
}

.postagem img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.postagem a {
    color: inherit;          /* Mantém a cor do texto pai */
    text-decoration: none;   /* Remove o sublinhado */
}


#Relevante {
    display: flex;
    align-items: left; /* Alinha os itens verticalmente no centro */
    justify-content: left; /* Centraliza os itens horizontalmente */
    margin-top: 10px; /* Espaçamento acima da div */
    color: white; /* Cor do texto */
}
#Relevante svg {
    margin: 0 5px; /* Espaçamento entre os ícones e o texto */
}

.btn-comentario {
    display: inline-block;
    padding: 5px 10px;
    margin-left: 10px; /* Espaçamento entre os botões */
    background-color: #007bff; /* Cor do botão */
    color: white; /* Cor do texto */
    border: none;
    border-radius: 5px;
    text-decoration: none; /* Remove o sublinhado */
    font-size: 16px;
}

.btn-comentario:hover {
    background-color: #0056b3; /* Cor ao passar o mouse */
}
