html, body {
    height: 100%;
    margin: 0;
}
.calendar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#calendar {
    max-width: 80%; /* Ajuste o tamanho do calendário aqui */
    width: 100%;
}