<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Comentário</title>
</head>
<body>
    <h1>Adicionar Comentário</h1>
    <h2>Comentando em: {{ postagem.titulo }}</h2>

    <form method="POST" action="{% url 'cadastrar_comentario' post_id=postagem.id %}">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">Enviar Comentário</button>
    </form>

    <a href="{% url 'forum' %}">Voltar ao Fórum</a>
</body>
</html>
