{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fórum Squadzone</title>
    <link rel="stylesheet" href="{% static 'css/forum.css' %}">
</head>
<header class="navbar">
    {% include 'navbar.html' %}
</header>
<body class='forum-page'>
    <main class="forum">
        <ul class="postagens">
            {% for postagem in postagens %}
                <li class="postagem">
                    <h2><a href="{{ postagem.slug }}">{{ postagem.titulo }}</a></h2>
                    <p>{{ postagem.descricao|truncatewords:500 }}</p>
                    <p><strong>Autor:</strong> {{ postagem.autor }}</p>
                    <p><strong>Criado em:</strong> {{ postagem.criado_em }}</p>
                    <p><strong>Categoria:</strong> <a href="categoria/{{ postagem.categoria.slug }}">{{ postagem.categoria }}</a></p>
                    {% if postagem.imagem_capa %}
                        <img src="{{ postagem.imagem_capa.url }}" width="400px" alt="">
                    {% else %}
                        <p>No image available</p>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </main>
</body>
</html>
