{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fórum Squadzone</title>
    <link rel="stylesheet" href="{% static 'css/forum.css' %}">
</head>
<header>
    
</header>   
<body>
    <ul>
        {% for postagem in postagens %}
            <li>
                <h2><a href="{{ postagem.slug }}">{{postagem.titulo}}</a></h2>
                <p>{{ postagem.descricao|truncatewords:500}}</p>
                <p>{{ postagem.autor }}</p>
                <p>{{ postagem.criado_em }}</p>
                <p><a href="categoria/{{ postagem.categoria.slug }}">{{postagem.categoria}}</a></p>
                {% if postagem.imagem_capa %}
                <img src="{{ postagem.imagem_capa.url }}" width="400px" alt="">
                {% else %}
                <p>No image available</p> <!-- Mensagem alternativa -->
                {% endif %} 
            </li>
        {% endfor %}
    </ul>
</body>
</html>
</body>
</html>